CTE 是MySQL8.0版才支持的功能，所以待升级8.0之后再练习。

**公用表表达式(Common Table Expressions)**

公用表表达式是一个命名的临时结果集，仅在单个SQL语句(例如SELECT，INSERT，UPDATE或DELETE)的执行范围内存在。

与派生表类似，CTE不作为对象存储，仅在查询执行期间持续。 与派生表不同，CTE可以是自引用(递归CTE)，也可以在同一查询中多次引用。 此外，与派生表相比，CTE提供了更好的可读性和性能。

**MySQL CTE语法**

CTE的结构包括名称，可选列列表和定义CTE的查询。 定义CTE后，可以像SELECT，INSERT，UPDATE，DELETE或CREATE VIEW语句中的视图一样使用它。以下说明了CTE的基本语法：   
**WITH cte_name (column_list) AS (   
query   
)   
SELECT * FROM cte_name;**   
请注意，查询中的列数必须与column_list中的列数相同。 如果省略column_list，CTE将使用定义CTE的查询的列列表。

**MySQL CTE 示例1**   
使用CTE查询customers表中的数据。   
WITH customers_in_usa AS (SELECT customerName,state FROM customers WHERE country = 'USA')SELECT customerName FROM customers_in_usa WHERE state='CA' ORDER BY customerName;

WITH customers_in_usa AS ( SELECT customerName, state FROM customers WHERE country = 'USA' ) SELECT customerName FROM customers_in_usa WHERE state = 'CA' ORDER BY customerName;