学习MySQL语言的各种语句，需要对数据库中的表来操作，这里从网上找了一个数据库，可以将数据库导入，使用该数据库练习。路径是./database/answer.sql。

**导入数据库**

连接到MySQL服务器并创建数据库，执行以下命令：    
mysql -h localhost -u root -p   
输入密码后，连接成功    
创建数据库    
create table if not exists answer default charset utf8 collate utf8_general_ci;   
切换到answer数据库    
use answer  
导入数据，answer数据库文件路径    
source D:/worksp/answer.sql   
导入后，测试是否成功    
select city,phone,country from offices;

**当然也可以打开answer.sql，在MySQL命令行，将文件中的代码执行一遍，同样会完成导入数据库的操作。**