**MySQL别名**

有时候列的名称是一个表达式，使得查询的输出很难理解。此时可以给出一个描述性名称，这个名称称作别名。    
查询选择员工的名字、姓氏，并将其组合起来生成别名。如果别名有空格则需要使用''括起来。        
**SELECT CONCAT_WS(' ',firstName,lastName) AS 'Full Name' FROM employees LIMIT 10;**

可以使用ORDER BY, GROUP BY和HAVING子句中的列别名来引用该列。查询使用ORDER BY子句中的别名按字母顺序排列员工的名字。    
SELECT CONCAT_WS(' ',firstName,lastName) AS 'Full Name' FROM employees ORDER BY 'Full Name' LIMIT 10;